
 {% load static %}
<!DOCTYPE html>
<html>
<head>
	 <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<title>user register list</title>
</head>
<body>
	<table class="table table-dark table-hover">
		<thead style="color: red; background-color: black">
			<tr>
				<th>User Name</th>
				<th>Hotel Name</th>
				<th>Amount</th>
				<th>Room Type</th>
				<th>Booking Date</th>
				<th>Booked Days</th>
			</tr>
		</thead>
				{% for i in booklist %}
					<tbody>
						<tr>
							<td>{{i.user}}</td>
							<td>{{ i.hotel_booked }}</td>
							<td>{{ i.price }}</td>
							<td>{{ i.room_type }}</td>
							<td>{{ i.booking_date }}</td>
							<td>{{ i.days }}</td>
							<!-- <td><a href="{% url 'userregisterupdate' i.id %}"><button class="btn btn-success">EDIT</button></a></td> -->
						</tr>
					</tbody>
				{% endfor %}
			</table>
</body>
</html>
